@page "/House"
@using System.Threading;
@inject HttpClient Http
@inject GameState GameState
@inject MessageManager  MessageManager
@inject NavigationManager UriHelper
@implements IDisposable

<h1>Welcome Home</h1>

<p>Your house has @Program.houseManager.GetSpaceUsed()/@GameState.playerHouse.HouseSize.Level Spaces available.</p>

@LoadBuildDropdown()
@if (GameState.isGathering == false)
{
    <button class="btn btn-primary" onclick="@(new Action(() => BuildUpHouse()))">Build Up House</button>
}
else
{
    <button class="btn btn-primary" onclick="@(new Action(() => StopBuilding()))">Stop Building</button>
}
@foreach (FurnitureSlot slot in Program.houseManager.emptySlots)
{
    <FurnitureSlotComponent furnitureSlot="@slot"></FurnitureSlotComponent>
}



@functions{


    private bool useLowestPlank;
    private bool useLowestBar;
    private GameItem currentPlank;
    private GameItem currentBar;
    private GameItem currentOtherItem;
    private static Random rand = new Random();

    private RenderFragment LoadBuildDropdown()
    {
        return builder =>
        {
            builder.OpenElement(0, "p");

            builder.OpenElement(1, "div");
            builder.AddAttribute(2, "class", "dropdown");
            builder.AddAttribute(2, "style", "margin-bottom:10px");
            builder.OpenElement(3, "button");

            builder.AddAttribute(4, "class", "btn btn-primary dropdown-toggle");
            builder.AddAttribute(5, "type", "button");
            builder.AddAttribute(6, "id", "dropdownMenuButton");
            builder.AddAttribute(7, "data-toggle", "dropdown");
            builder.AddAttribute(8, "aria-haspopup", "true");
            builder.AddAttribute(9, "aria-expanded", "false");
            if (GameState.isGathering)
            {
                builder.AddAttribute(10, "disabled", true);
            }

            builder.AddContent(11, "Plan a new furniture slot");

            builder.CloseElement();

            builder.OpenElement(12, "div");
            builder.AddAttribute(13, "class", "dropdown-menu");
            builder.AddAttribute(14, "aria-labelledby", "dropdownMenuButton");


            foreach (FurnitureSlot slot in Program.houseManager.furnitureSlots)
            {
                if (GetSlotMinimumLevel(slot) <= GameState.GetPlayer().GetLevel("Construction"))
                {

                    builder.OpenElement(15, "a");
                    builder.AddAttribute(16, "class", "dropdown-item");
                    builder.AddAttribute(17, "onclick", new Action(() => AddSlot(slot)));
                    builder.AddContent(18, slot.Name);
                    builder.CloseElement();
                }

            }
            builder.CloseElement();
            builder.CloseElement();
            builder.CloseElement();
        };
    }

    private void BuildUpHouse()
    {
        GameState.StopActions();
        GameState.isGathering = true;
        GameState.gatherTimer = new Timer(new TimerCallback(_ =>
        {
            GameItem plank = GameState.GetPlayerBank().GetInventory().GetLowestLevelPlank();
            if (plank == null || GameState.GetPlayerInventory().GetBestNails() == null)
            {
                if (plank == null)
                {
                    MessageManager.AddMessage("You have run out of planks. Please note that construction uses planks directly from your bank.");
                }
                else if ( GameState.GetPlayerInventory().GetBestNails() == null)
                {
                    MessageManager.AddMessage("You have run out of nails.");
                }
                GameState.StopActions();
                GameState.UpdateState();
                return;
            }
            GameItem nail = GameState.GetPlayerInventory().GetBestNails();
            if (nail == null)
            {
                MessageManager.AddMessage("You have run out of nails.");
                GameState.StopActions();
                return;
            }
            GameState.playerHouse.BuildUp(plank);
            GameState.GetPlayerBank().GetInventory().RemoveOneOfItem(plank);
            int nailsUsed = Math.Min(rand.Next(1, 1 + Math.Max(100 - GameState.GetPlayer().GetLevel("Construction"), 1)), GameState.GetPlayerInventory().GetAmountOfItem(nail));
            GameState.GetPlayer().GainExperience("Construction", nail.NailLevel);
            nailsUsed = GameState.GetPlayerInventory().RemoveAsManyItemsAsPossible(nail, nailsUsed);
            MessageManager.AddMessage("You hammer two planks together with " + nailsUsed + " " + nail.ItemName);

            GameState.UpdateState();
        }), null, 750, 750);
        GameState.UpdateState();
    }
    private void StopBuilding()
    {
        GameState.isGathering = false;
        GameState.StopActions();
        GameState.UpdateState();
    }

    private void AddSlot(FurnitureSlot slot)
    {
        if (slot.SpaceRequired + Program.houseManager.GetSpaceUsed() <= GameState.playerHouse.HouseSize.Level)
        {
            FurnitureSlot newSlot = new FurnitureSlot(slot);
            Program.houseManager.emptySlots.Add(newSlot);
            MessageManager.AddMessage("Space Used:" + slot.SpaceRequired + ", Total:" + Program.houseManager.GetSpaceUsed() + ", Available:" + GameState.playerHouse.HouseSize.Level);
        }
        else
        {
            MessageManager.AddMessage("You don't have enough space in your house for that. You'll need to increase the size of your house.");
        }
        GameState.UpdateState();
    }
    private int GetSlotMinimumLevel(FurnitureSlot slot)
    {
        return Program.houseManager.GetAvailableFurnitureForSlot(slot)[0].LevelRequired;
    }

    protected override void OnInitialized()
    {
        GameState.playerHouse.messageManager = MessageManager;
        GameState.StateChanged += OnGameStateChanged;
        this.StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        GameState.StateChanged -= OnGameStateChanged;
    }
    void OnGameStateChanged(object sender, EventArgs e) => StateHasChanged();
}